{% extends "layout.html" %}
{% block body %}
  {% if  session.logged_in %}
  <p>you have logged in </p>
  {% else %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post" class="form_login">
  <table class="table_login">
      <tr>
          <td>Username:</td>
          <td><input type="text" name="username"></td>
      </tr>
      <tr>
      <td>Password:
      </td>
      <td><input type="password" name="password"></td>
  </table>
      <input type="submit" value="Login">
  </form>
  {% endif %}
{% endblock %}
